<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" >
<head >
  <meta charset="UTF-8" >
  <title >数据导入</title >
  <link href="/static/bootstrap/css/fileinput.css" media="all"
        rel="stylesheet" type="text/css" >
  <link href="/static/bootstrap/css/theme.css" media="all" rel="stylesheet"
        type="text/css" >
  <link href="/static/bootstrap/css/bootstrap.4.0.0.css" rel="stylesheet" >

  <script src="https://code.jquery.com/jquery-3.2.1.min.js" ></script >
  <script src="/static/bootstrap/js/fileinput.js"
          type="text/javascript" ></script >
  <script src="/static/bootstrap/js/piexif.js"
          type="text/javascript" ></script >
  <script src="/static/bootstrap/js/sortable.js"
          type="text/javascript" ></script >
  <script src="/static/bootstrap/js/zh.js" type="text/javascript" ></script >
  <script src="/static/bootstrap/js/theme.js"
          type="text/javascript" ></script >
  <script src="/static/bootstrap/js/bootstrap4.0.0.js"
          type="text/javascript" ></script >
</head >
<body >
  <label class="control-label" >选择文件</label >
  <div class="file-loading" >
    <input id="input-pt-br" name="inputptbr[]" type="file" multiple >
  </div >
  <script >
    $("#input-pt-br").fileinput({
      language: "pt-BR",
      uploadUrl: "/importData/diseaseInfoService/importFile"
      //allowedFileExtensions: ["jpg", "png", "gif"]
    });
  </script >
</body >
</html >
