<!DOCTYPE html>
<html lang="en" >
<head >
  <meta charset="UTF-8" >
  <title >app</title >
  <!-- 引入ExtJs样式 -->
  <link rel="stylesheet" type="text/css"
        href="../static/js/extjs/build/classic/resources/theme-crisp-all.css" >
  <!-- 引入ExtJs核心Js -->
  <script type="text/javascript"
          src="../static/js/extjs/ext-bootstrap.js" ></script >
  <script type="text/javascript"
          src="../static/js/extjs/build/ext-all-debug.js" ></script >
  <script type="text/javascript"
          src="../static/js/extjs/build/classic/locale/locale-zh_CN.js" ></script >
  <!-- 页面Js -->
  <script type="text/javascript" src="../static/js/app.js" ></script >
  <script type="text/javascript" src="../static/js/ux/GridView.js" ></script >
  <script type="text/javascript" src="../static/js/app/warn.js" ></script >
  <script type="text/javascript" src="../static/js/app/commons.js" ></script >
</head >
<body >
<div id="app" ></div >
</body >
</html >
