<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DynamicMapper">
    <select id="selectCountStatement" resultType="int"
            parameterType="hashmap">
        ${_sql}
    </select>

    <select id="selectStatement" parameterType="hashmap" resultType="hashmap">
        ${_sql}
    </select>

    <update id="updateStatement" parameterType="hashmap">
        ${_sql}
    </update>

    <insert id="insertStatement" parameterType="hashmap">
        ${_sql}
    </insert>

    <delete id="deleteStatement" parameterType="hashmap">
        ${_sql}
    </delete>
</mapper>
